/* components/LogoSlider.module.css */

.sliderContainer {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }
  
  .logo {
    flex: 0 0 auto;
    padding: 40px;
  }
  
  .logo img {
    height: 50px; /* Adjust based on your needs */
    width: auto;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  