
/* -------------------------------------------

main

------------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: $text;
    font-weight: 300;
    color: $dt-70;
    line-height: 150%;
    overscroll-behavior: none;
    @media screen and (max-width: 768px) {
        font-size: $text - 1px;
    }
}
  




.mil-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.container {
    pointer-events: all;
}

.mil-relative {
    position: relative;
}

.mil-o-hidden {
    overflow: hidden;
}

.mil-flex {
    display: flex;
}

.mil-vert-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mil-mobile-hidden {
    @media screen and (max-width: 992px) {
        display: none;
    }
}

section {
    position: relative;
     overflow: hidden;
}

/* -------------------------------------------

typography

------------------------------------------- */
h1,
.mil-h1,
h2,
.mil-h12,
h3,
.mil-h3,
h4,
.mil-h4,
h5,
.mil-h5,
h6,
.mil-h6 {
    // font-family: $font-1;
    color: $dark;
    font-weight: 500;
    line-height: 120%;

    @media screen and (max-width: 768px) {
        & br {
            display: none;
        }
    }
}

h1,
.mil-h1 {
    font-size: $h1;

    @media screen and (max-width: 1400px) {
        font-size: $h1 - 12px;
    }

    @media screen and (max-width: 1200px) {
        font-size: $h1 - 14px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h1 - 28px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h1 - 52px;
    }
}

h2,
.mil-h2 {
    font-size: $h2;
    line-height: 120%;

    @media screen and (max-width: 1200px) {
        font-size: $h2 - 12px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h2 - 24px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h2 - 32px;
    }
}

h3,
.mil-h3 {
    font-size: $h3;

    @media screen and (max-width: 1200px) {
        font-size: $h3 - 3px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h3 - 6px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h3 - 12px;
    }
}
.mil-h25 {
    font-size: $h25;

    @media screen and (max-width: 1200px) {
        font-size: $h25 - 3px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h25 - 6px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h25 - 12px;
    }
}


h4,
.mil-h4 {
    font-size: $h4;

    @media screen and (max-width: 1200px) {
        font-size: $h4 - 2px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h4 - 4px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h4 - 6px;
    }
}

h5,
.mil-h5 {
    font-size: $h5;
    line-height: 150%;

    @media screen and (max-width: 768px) {
        font-size: $h5 - 2px;
    }
}

h6,
.mil-h6 {
    font-size: $h6;
    line-height: 150%;

    @media screen and (max-width: 1200px) {
        font-size: $h6 - 1px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h6 - 2px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h6 + 3px;
    }
}
h6,
.mil-h6 {
    font-size: $h7;
    line-height: 150%;

    @media screen and (max-width: 1200px) {
        font-size: $h7 - 1px;
    }

    @media screen and (max-width: 992px) {
        font-size: $h7 - 2px;
    }

    @media screen and (max-width: 768px) {
        font-size: $h7 + 3px;
    }
}
.mil-no-wrap {
    white-space: nowrap;
}

blockquote {
    padding: 60px;
    background-color: $dt-5;
    font-size: $text + 2px;
    color: $dark;
    font-style: italic;
    border-left: solid 4px $accent;

    @media screen and (max-width: 768px) {
        padding: 30px;
        font-size: $text;
    }
}

.mil-text-sm {
    font-size: $text - 2px;
}
.mil-text-xs {
    font-size: $text - 4px;
}
.text-right{
    text-align: right;
}

.mil-text-lg {
    font-size: $text + 2px;
    line-height: 170%;
}

.mil-text-xl {
    font-size: $text + 6px;
    line-height: 180%;

    @media screen and (max-width: 768px) {
        font-size: $text + 4px;
    }
}

.mil-upper {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    ;
}

.mil-bold {
    font-weight: 500;
}

.mil-thin {
    font-weight: 100;
}

a {
    color: inherit;
    text-decoration: none;
}
.anchor-link{
    text-decoration: underline;
    cursor: pointer;
}

.mil-complex-title {
    line-height: normal;
}

.mil-accent {
    color: $accent;
}

.mil-light {
    color: $light !important;

    & a {
        color: $light !important;
    }
}

.mil-muted {
    color: $lt-90;
}

.mil-dark {
    color: $dark;
}

.mil-light-soft {
    color: $lt-60;
}

.mil-dark-soft {
    color: $dt-50;
}

.mil-marker {
    background-color: $accent;
    padding: 0 5px;
}

.mil-center {
    text-align: center;
}

.mil-left {
    text-align: left;
}

.mil-right {
    text-align: right;
}

.mil-sm-center {
    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.mil-suptitle {
    position: relative;
    display: block;
    margin-bottom: 60px;

    &:before {
        content: '';
        position: absolute;
        inset-inline-end: calc(100% + 30px) !important;
        top: 10px;
        width: 600px;
        height: 1px;
        background-color: $light;
        opacity: .2;
    }

    &.mil-suptitle-right {
        text-align: right;

        &:before {
            left: calc(100% + 30px);
        }

        @media screen and (max-width: 768px) {
            text-align: center;

            &:before {
                display: none;
            }
        }
    }
    &.mil-suptitle-left {
        text-align: left;

        &:before {
            left: calc(100% + 30px);
        }

        @media screen and (max-width: 768px) {
            text-align: center;

            &:before {
                display: none;
            }
        }
    }
    &.mil-suptitle-dark {
        &:before {
            background-color: $dark;
            opacity: .1;
        }
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
    }
}

.mil-divider {
    width: 100%;
    height: 1px;
    background-color: $lt-10;
}

.mil-img-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 140%;
  
    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
  
}

/* -------------------------------------------

link

------------------------------------------- */
.mil-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;

    & svg {
        margin-left: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: $lt-10;
        transition: $t-md;

        & path {
            fill: $light;
        }
    }

    &.mil-accent {
        & svg {
            background-color: $lt-10;
            transition: $t-md;

            & path {
                fill: $accent;
            }
        }
    }

    &.mil-dark {
        & svg {
            background-color: rgba(146,146,146,0.3);
            transition: $t-md;

            & path {
                fill: $dark;
            }
        }
    }

    &:hover {
        & svg {
            transform: scale(1.15);
        }
    }

    &.mil-down-arrow {
        & svg {
            transform: rotate(90deg);
        }

        &:hover {
            & svg {
                transform: scale(1.15) rotate(90deg);
            }
        }
    }

    &.mil-icon-left {
        display: flex;
        flex-direction: row-reverse;

        & svg {
            margin-left: 0;
            margin-right: 15px;
            transform: rotate(180deg);
        }

        &:hover {
            & svg {
                transform: scale(1.15) rotate(180deg);
            }
        }
    }
}

/* -------------------------------------------

button

------------------------------------------- */
.mil-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 12px;
    background-color: $accent;
    color: $dark;
    border-radius: 70px;
    padding: 0 15px 0 15px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 500;
    transition: $t-md;

    & span {
        white-space: nowrap;
    }

    & svg {
        margin-left: 10px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        padding: 10px;
        background-color: $dark;
        transition: $t-md;

        & path {
            fill: $accent;
        }
    }

    &.mil-icon-button {
        padding: 10px;

        & svg {
            margin-left: 0;
        }
    }

    &.mil-icon-button-sm {
        padding: 0;
        height: 35px;

        & svg {
            margin-left: 0;
            background-color: $accent;

            & path {
                fill: $dark;
            }
        }
    }

    &:hover {
        transform: scale(1.015);
        filter: brightness(110%);

        & svg {
            transform: scale(1.15);
        }
    }

    &.mil-arrow-down {
        & svg {
            transform: rotate(90deg);
        }

        &:hover {
            transform: scale(1.015);
            filter: brightness(110%);

            & svg {
                transform: scale(1.15) rotate(90deg);
            }
        }
    }

    @media screen and (max-width: 992px) {
        height: 50px;
        padding: 0 10px 0 10px;
        font-size: 12px;
        & svg {
            margin-left: 25px;
        }
    }
}
.mil-button-sm{
    height: 30px !important;
   
}
.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* -------------------------------------------

form

------------------------------------------- */
input,
textarea {
    position: relative;
    height: 40px;
    padding: 0 30px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: $dark;
    border: none;
    border-bottom: solid 1px $dt-20;
    margin-bottom: 20px;

    &:focus {
        outline: inherit;
    }

    &::placeholder {
        font-size: 12px;
        text-transform: uppercase;
        ;
        font-weight: 500;
        color: $dt-50;
    }
}

textarea {
    padding: 15px 30px;
    height: 180px;
}

/* -------------------------------------------

breadcrumbs

------------------------------------------- */
body[dir="ltr"] .mil-breadcrumbs:before {
    right: calc(100% + 30px);
}
/* For right-to-left languages */
body[dir="rtl"] .mil-breadcrumbs:before {
    left: calc(100% + 30px);
}


.mil-breadcrumbs {
    display: inline-flex;
    align-items: center;
    position: relative;
    @media screen and (max-width:450px) {
        display: block;
    }
    &:before {
        content: '';
        position: absolute;
        top: 14px;
        width: 100vw;
        height: 1px;
        background-color: $dt-10;
     
    }

    & li {
        list-style-type: none;

        &:after {
            content: '/';
            margin: 0 15px;
            color: $dark;
        }

        & a {
            color: $dark;
            text-transform: uppercase;
            ;
            font-weight: 500;
            font-size: 12px;
            white-space: nowrap;
            transition: $t-sm;

            &:hover {
                color: $accent;
            }
        }

        &:last-child {
            margin-right: 0;
            cursor: not-allowed;
            & a {
                opacity: .7;
                pointer-events: none;
            }

            &:after {
                display: none;
            }
        }
    }

    &.mil-light {
        &:before {
            background-color: $lt-10;
        }

        & li {
            &:after {
                color: $lt-90;
            }

            & a {
                &:hover {
                    color: $accent !important;
                }
            }
        }
    }

    &.mil-center {
        justify-content: center;
    }
}
.mil-breadcrumbs-light li:after {
    content: "/";
    color: #ffffff;
}
.mil-breadcrumbs-light  {
    
    &:before {
        background-color: $lt-20;
     
    }
}
.mil-lines-highlight-en {
    display: inline-flex;
    align-items: center;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        right: calc(100% + 30px);
        top: 20px;
        width: 100vw;
        height: 1px;
        background-color: $dt-10;
    }

    & li {
        list-style-type: none;

       

    }

    &.mil-light {
        &:before {
            background-color: $lt-10;
        }

        & li {
            &:after {
                color: $lt-90;
            }

            & a {
                &:hover {
                    color: $accent !important;
                }
            }
        }
    }

    &.mil-center {
        justify-content: center;
    }
}
.mil-lines-highlight-ar {
    display: inline-flex;
    align-items: center;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: calc(100% + 30px);
        top: 20px;
        width: 100vw;
        height: 1px;
        background-color: $dt-10;
    }

    & li {
        list-style-type: none;

       

    }

    &.mil-light {
        &:before {
            background-color: $lt-10;
        }

        & li {
            &:after {
                color: $lt-90;
            }

            & a {
                &:hover {
                    color: $accent !important;
                }
            }
        }
    }

    &.mil-center {
        justify-content: center;
    }
}


/* -------------------------------------------

backgrounds

------------------------------------------- */
.mil-dark-bg {
    position: relative;
    background-color:#0A1B30;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 2;
   
    }
    & .mi-invert-fix {
        height: 100%;
        & .container {
            pointer-events: all;
        }
    }
}
.service-banner-links {
    li{
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        transform: scale(1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
        
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            opacity: 1;
        }
    }
   
}
.mil-dark-bg-hero {
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 2;
        background-color: $dark;

    }
    & .mi-invert-fix {
        height: 100%;
        & .container {
            pointer-events: all;
            
        }
    }
}

.mil-soft-bg {
    background-color: $gs-5;
    
}

/* -------------------------------------------

spaces

------------------------------------------- */
.mil-mr-30 {
    margin-right: 30px;
}

.mil-mb-5 {
    margin-bottom: 5px;
}

.mil-mb-10 {
    margin-bottom: 10px;
}

.mil-mb-15 {
    margin-bottom: 15px;
}

.mil-mb-20 {
    margin-bottom: 15px;
}
.mil-mb-25 {
    margin-bottom: 25px;
}
.mil-mb-30 {
    margin-bottom: 30px;
}
.mil-mb-40 {
    margin-bottom: 40px;
}
.mil-mb-50 {
    margin-bottom: 50px;
}

.mil-mb-60 {
    margin-bottom: 60px;
}

.mil-mt-60 {
    margin-top: 60px;
}

.mil-mb-90 {
    margin-bottom: 90px;
}

.mil-mb-120 {
    margin-bottom: 120px;

    @media screen and (max-width: 992px) {
        margin-bottom: 90px;
    }
}


.mil-mt-suptitle-offset {
    margin-top: 70px;

    @media screen and (max-width: 992px) {
        margin-top: 30px;
    }
}

.mil-p-120-120 {
    padding-top: 120px;
    padding-bottom: 120px;

    @media screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.mil-p-120-90 {
    padding-top: 120px;
    padding-bottom: 90px;

    @media screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 60px;
    }
}

.mil-p-0-120 {
    padding-bottom: 120px;

    @media screen and (max-width: 992px) {
        padding-bottom: 90px;
    }
}

.mil-p-120-0 {
    padding-top: 120px;

    @media screen and (max-width: 992px) {
        padding-top: 90px;
    }
}

.mil-p-120-60 {
    padding-top: 120px;
    padding-bottom: 60px;

    @media screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 30px;
    }
}

.mil-p-90-90 {
    padding-top: 90px;
    padding-bottom: 90px;

    @media screen and (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.mil-p-30-90 {
    padding-top: 30px;
    padding-bottom: 90px;

    @media screen and (max-width: 992px) {
        padding-top: 20px;
        padding-bottom: 60px;
    }
}
.mil-p-60-0 {
    padding-top: 60px;
    @media screen and (max-width: 992px) {
        padding-top: 30px;
    }
}


.mil-p-90-120 {
    padding-top: 90px;
    padding-bottom: 120px;

    @media screen and (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}

.mil-p-0-90 {
    padding-bottom: 90px;

    @media screen and (max-width: 992px) {
        padding-bottom: 60px;
    }
}

.mil-p-0-30 {
    padding-bottom: 30px;

    @media screen and (max-width: 992px) {
        padding-bottom: 0;
    }
}
.mil-p-30-0 {
    padding-top: 30px;

    @media screen and (max-width: 992px) {
        padding-top: 0;
    }
}
.mil-p-30-30 {
    padding-top: 30px;

    padding-bottom: 30px;

    @media screen and (max-width: 992px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.mil-p-120-30 {
    padding-top: 120px;
    padding-bottom: 30px;

    @media screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 0;
    }
}

.mil-adaptive-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 992px) {
        justify-content: flex-start;
    }
}

[dir="rtl"] .mil-btn-space { /* Target elements within an RTL context */
    margin: 0 0 0 30px; /* Adjusted margin values */
}
.mil-btn-space {
   
    margin: 0px 30px 0px 0px;

    @media screen and (max-width: 500px) {
        margin-right: 50px;
        margin-bottom: 30px;
    }
}

/* Text */

.mil-text {
    ul {
        margin-left: 1em;
    }
    p, ul, blockquote, ol, h1, h2, h3, h4, h5, h6, iframe, table, object {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-inline-start-40{
    padding-inline-start: 40px;
}
.title-yellow-head{
   width: 40px;
   transform: rotateY(180deg);
}
body[dir="rtl"] .title-yellow-head{
    transform:rotateY(180deg);

}
body[dir="ltr"] .title-yellow-head{
    transform:rotateY(0deg);
}
.mil-text-gray-800{
    color: #4a4e54;
    font-size: 18px;
    line-height: 1.5;
}
.mil-text-gray-600{
    color: $gs-30;
}

.mil-text-primary{
    color: $dark;
    font-size: 20px;
    line-height: 1.5;
}
.mil-text-highlight{
    color: #0a1b30;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    width: fit-content;
    margin: 15px auto;
    font-style: italic;
    border-bottom: 2px solid $accent;
    background-color: #fffaf4;
}


.fw-bold{
    font-weight: 500;
}
.service-image{
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden; 
    position: relative;
}
.service-image img{
    width: 100%;
    height: 0%;
    object-fit: cover;
    transition: transform .7s ease-in-out;
    transform: translateY(-100%); /* Initially, move the image above the container */
    // padding: 0 10px;
}
.banner-title-and-image-container{
    display: flex;
}
.swiper-slide{
    width: 200px !important;
    margin-right: 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.service-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 2;
    background-color: #f5d74c; 
    transform: translateY(-100%);
    transition: transform .7s ease-in-out;
}

.service-image.reveal::before { 
    transform: translateY(97%);

}

.service-image.reveal img {
    transform: translateY(0); /* Show the image */
}

@media (max-width:764px) {
    .banner-title-and-image-container{
     flex-direction: column;
    }
}
.mil-highlight-title {
    text-align: center;
    display: block;
    font-style: italic;
    color:#bf9d03;
    width: fit-content;
    font-weight: 500;
}
.ab-quoations{
    display: flex;
    gap: 3px;
    padding: 9px 0px;
   
}
.hyper-link{
    color:#3D9BF2;
    
    font-style: italic;
    &:hover{
        color:#0c3acf;
        border-bottom: 1px solid #0c3acf;
    }
}
.card-shadow {
    transition: all 0.2s ease-in; /* Added 's' for seconds */
    border: 1px solid $accent;
    &:hover {
        transform: translate(4px, -4px);
        box-shadow: -8px 8px 0 $accent;    
        border: 1px solid $accent;
    }
}
.depth-yellow-cards{
    box-shadow: -5px 5px 0 $accent;    
    border: 1px solid $accent;
    padding: 10px 30px;
    position: relative;
    background-color: #fff;
    .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}
// .grid-background {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-image: url("https://res.cloudinary.com/dahiaq28x/image/upload/v1718202576/Grid_kaaj1u.svg");
//     background-position: 10% 100%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 470px;
  
//   }
  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55.67%; /* Aspect ratio of 2250/1500 */
  }
.padding-inline-end-30{
    padding-inline-end: 30px;
}
.padding-inline-end-20{
    padding-inline-end: 20px;
}
.padding-inline-end-10{
    padding-inline-end: 10px;
}
.logoStyle{
    position:absolute;
    z-index:3;
    top:20px;
    width:60px;
    height:51px;
    @media screen and (max-width:1200px) {
       display: none;
    }
}

body[dir="ltr"]{
    .logoStyle{
        left:64px;
        
    }
}
body[dir="rtl"]{
    .logoStyle{
        right:64px;
       
    }
}
.mil-logo{
    opacity: 1;
    margin-inline-end: 10px;
    @media screen and (max-width:1200px) {
        opacity: 1;
     }
}
.desktop-top-frame{
    @media screen and (max-width:1200px) {
        display: none !important;
     }
}
.gap-10{
    gap: 10px;
}
.gap-40{
    gap: 40px;
}
.gap-20{
    gap: 20px;
    @media screen and (max-width:410px) {
        gap: 12px;
    }
}
.position-relative{
    position: relative;
}
.flex-1{
    flex: 1;
}
.italic{
    font-style: italic;
}
.text-shadow{
    text-shadow: 2px 1px 1px #000; /* Standard syntax */
-webkit-text-shadow: 2px 1px 1px #000; /* For older WebKit browsers (Safari, Chrome) */
-moz-text-shadow: 2px 1px 1px #000; /* For older Firefox */
}
.bannderOverlay{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(161,161,161,0) 30%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(161,161,161,0) 30%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(161,161,161,0) 30%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#000000',GradientType=1);
    min-height: 31rem;
   
    
}


body[dir="rtl"] .left-right-arrow{
transform: rotate(180deg);
}

body[dir="ltr"] .left-right-arrow{
transform: rotate(0deg);
}
.notification-alert{
    position: fixed;
    top: 100px;
    right: 60px;
    width: 200px;
    z-index: 2000;
}